.similar-card {
    width: 180px;
    margin: 2px 3px;
    border: 2px solid grey;
    text-decoration: none;
    padding: 10px;
}
  
  .similar-card__img {
    width: 100%;
}
.similar-card h3{
    width: 100%;
}